
@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #dc2626;
  --color-secondary: #111111;
  --color-accent1: #EBE9E4;
  --color-accent2: #f97316;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: initial;
}

body {
  @apply bg-background text-foreground antialiased font-sans;
}


